* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  height: 10vh;
  border-bottom: 1px solid rgb(252, 236, 235);
}

.left > h1 {
  font-size: 1em;
  font-weight: 700;
  padding: 0 1rem;
  color: rgb(156, 157, 161);
}

.nav-bar {
  margin-left: 10rem;
}

.nav-bar > ul > li{
  list-style: none;
  display: inline;
  padding: 0 1rem;
  font-size: 0.8em;
  color: rgb(36, 46, 76);
}

/* Button */
.btn {
  padding: 0.6rem 1.2rem;
  margin: 0 0.3rem;
  background-color: rgb(246, 240, 232);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.btn-2 {
  font-size: 0.7em;
  background-color: rgb(36, 46, 76);
  color: rgb(255, 255, 255);
}

.btn-3 {
  padding: 1.2rem 1.6rem;
  background-color: rgb(36, 46, 76);
  color: rgb(255, 255, 255);
}

.btn-2:hover,
.btn-3:hover {
  opacity: 0.8;
}

.right {
  padding: 0 1rem;
}


/* Middle Section */
.description {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 252, 248);
}

.content {
  padding: 4rem;
  width: 44vw;
}

.content > p,
.content > h1 {
  text-align: center;
  color: rgb(36, 46, 76);
  padding: 1rem 0;
}

.content > h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
  padding: 0.7rem 0;
}

.content > div {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}